[submodule "Assets/utils"]
	path = Assets/utils
	url = doug@shadowmint.xen.prgmr.com:repo/unity/unity-utils.git
[submodule "Assets/utils.impl"]
	path = Assets/utils.impl
	url = doug@shadowmint.xen.prgmr.com:repo/unity/unity-utils-impl.git
