[submodule "Assets/utils"]
	path = Assets/utils
	url = git@github.com:onethousandfaces/unity-utils.git
[submodule "Assets/utils.impl"]
	path = Assets/utils.impl
	url = git@github.com:onethousandfaces/unity-utils-impl.git
